	<div class="password-box">
		<div class="password-head">
			<img src="__PUBLIC__/home/images/password.png"><span class="password-head-font">&nbsp;修改密码</span>
		</div>
		<div class="password-main">
			<p class="password-main-font">为了您的帐号安全，我们为您提供了以下方式修改</p>
			<form action="__CONTROLLER__/savePassword" method="post">	
				<table  align="center" border="0" cellspacing="28" cellpadding="0">
					<tr>
						<th><span class="red">*&nbsp;</span>旧密码：</th>
						<td>
							<input type="password" id="oldPassword" name="oldPassword" value="">
						</td>
						<td></td>
					</tr>
					<tr>
						<th><span class="red">*&nbsp;</span>新密码：</th>
						<td>
							<input type="password" id="password" name="password">
						</td>
						<td></td>
					</tr>
					<tr>
						<th><span class="red">*&nbsp;</span>确认新密码：</th>
						<td>
							<input type="password" id="rePassword" name="rePassword" value="">
						</td>
						<td></td>
					</tr>
					<tr>
						<th></th>
						<td>
							<input type="image" id="submit-password" src="__PUBLIC__/home/images/save.jpg" value="">
						</td>
				</tr>
			</table>
		</form>	
		</div>
	</div>
	<script>
		var msg="";
		var chkOldPassword=false;
		var chkPassword=false;
		var chkRePassword=false;
		$("#oldPassword").blur(function(){
			checkOldPassword(this);
		});
		$("#password").blur(function(){
			checkPassword(this);
			$("td:eq(3)").html(msg);			
		});
		$("#rePassword").blur(function(){
			checkRePassword(this);
			$("td:eq(5)").html(msg);
		});
		//检测旧密码
		function checkOldPassword(obj){
			chkOldPassword=false;
			var val=$("#oldPassword").val();
			$.post('__CONTROLLER__/checkPassword',{"oldPassword":val},function(data){
			
				if(data=='success'){
					msg="<span><img src='__PUBLIC__/home/images/right.png'></span>";
					chkOldPassword=true;
				}else{
					msg="<span class='red'>旧密码不正确</span>";
				}
				$("td:eq(1)").html(msg);
			});
		}
		//检测新密码
		function checkPassword(obj){
			 chkPassword=false;
			
			if($("#password").val().length<6){
				msg="<span class='red'>新密码不能少于6位</span>";
			}else{
				msg="<span><img src='__PUBLIC__/home/images/right.png'></span>";
				 chkPassword=true;
			}
		}
		//检测再次输入的密码
		function checkRePassword(obj){
			 chkRePassword=false;
			if($("#rePassword").val()!=$("#password").val()){
				msg="<span class='red'>两次密码不一致</span>";
			}else if($("#rePassword").val().length<6){
				msg="<span class='red'>新密码不能少于6位</span>";
			}else{	
				msg="<span><img src='__PUBLIC__/home/images/right.png'></span>";
				 chkRePassword=true;
			}
			//各项密码正确就弹出保存按钮增强安全性
			if(chkOldPassword &&chkPassword&&chkRePassword){
				$("#submit-password").css("display","block");
		
			}else{
				alert("请正确输入各项信息!!");
			}
		}
	</script>