<div class="recommend">
					<div>推荐收听<span class="switch"><a href="javascript:;" id="recommend_change">[换一换]</a></span></div>
				<!--遍历推荐收听人员-->
				<foreach name="res" item="vo">
				 <div class="each">
						<div class="pic">
							<span><img src="__PUBLIC__/home/uploads/headpic/{$vo.headpic}" width="68" height="68"></span>
						</div>
						<div class="each_listen">

								<a href="" class="name_color">{$vo.username}</a>
								<img src="__PUBLIC__/Home/images/recommend.jpg" height="15">
								<a href="##" class="span_none" onclick="re_change()">不感兴趣</a>
						</div>
						<span class="mood">
							{$vo.sign}
						</span><br />
							<a href="javascript:;" onclick="lister_({$vo.id},this)"><img class="img" src="__PUBLIC__/Home/images/listen.png" width="62"></a>
				</div>
				</foreach>
				<!--遍历结束-->
					<br />
					<a href="##" onclick="re_change()">更多>></a>
				</div>
		  <script>
				$(".recommend").hover(function(){
					$(".switch").css('display','block')
				},function(){
					$(".switch").css('display','none')
				});
				$(".each").hover(function(){
					$(this).children(".each_listen").children(".span_none").css('display','block')
				},function(){
					$(".span_none").css('display','none')
				});
				$("#recommend_change").click(function(){
					$(".recommends").load("__CONTROLLER__/personRecommend");
				});
			//不感兴趣更多点击事件
			function re_change(){
				$(".recommends").load("__CONTROLLER__/personRecommend");
			}
			</script>
		