<div  class="interest_title">
	<span>可能感兴趣的人</span>
	<a id="interest" href="javascript:;"><span class="glyphicon glyphicon-repeat"></span>&nbsp;换一换</a>
</div>

<foreach name="sign" item="vo">
	<div class="interest_first">
		<div class="interest_box">
			<div class="person_headpic">
				<img src="__PUBLIC__/home/uploads/headpic/{$vo.headpic}" alt="">
			</div>
			<div class="person_name">
				<p>{$vo.username}V{$vo.id}</p>
				<span class=""><a onclick="follow({$vo.id},this)" href="javascript:;">+&nbsp;关注</a></span>
			</div>
		</div>
	</div>
</foreach>
<script>
	$("#interest").click(function(){
		$(".interest_person").load("__APP__/Home/Recommend/recommend");
	});

	function follow(id,obj){
		$.get("__APP__/Home/Follow/follow/id/"+id,function(data){
			if (data == 1) {
				alert("您已关注此用户");
			}else if(data == 0){
				alert("关注成功");
				$(obj).text("已关注");	
			}
		});
	}

</script>