/* 
* @Author: lishihao
* @Date:   2014-11-07 10:00
* @Last Modified by:   lishihao
* @Last Modified time: 2014-11-21 17:20:19
* 用户修改头像css样式文件
*/
.face_nav{
		margin-left:-22px;
		margin-top:40px;
			
		}
.face_upload{
		width:240px;
		height:240px;
		float:left;
		background:#F5F5F0;
		border:1px solid #E1E1E1;
		padding:100px 0 0 80px;
		margin:66px 0 0 50px;
		}
.prompt{line-height:25px;
		font-size:11px;
		color:#999999;
		}
.btn{
	margin:40px 0 0 0px;
		}
.face_right{
		height:280px;
		width:230px;
		float:right;
		
		margin:92px 126px 0 0;
		}
.right_font{
		font-size:13px;
		color:#666666;
		line-height:40px;
		}
.right_bottom{
		color:#006A92;
		font-size:13px;
		}
.mini{
		width:100px;
		height:190px;
		position:absolute;
		margin:134px 0 0 625px;
		}
.right_fonts{
		font-size:13px;
		color:#666666;
		line-height:20px;
		}
