<foreach name="isread" item="isread">
    <div class="message_all">
        <img  class="headpic1" src="__PUBLIC__/home/uploads/headpic/{$isread.headpic}" alt="" width="50" height="50"/>
        <div class="message_content">
            <a class="username1" href="__APP__/Home/Zone/index/id/{$isread.userid}">{$isread.username}</a><br />
            <span>{$isread.content}</span><br />
            <span>{$isread.sendtime|date="Y-m-d H:i:s",###}</span>
        </div>
        <button class="delmessage" onclick="delletter({$isread.id},this)">删除</button>
    </div>

</foreach>
<script>
    function delletter(id,obj){
        $.get("__APP__/Home/Letter/delletter/id/"+id,function(data){
            if(data == 'success'){
                 $(obj).parent().hide(1000);
                // alert('删除成功');
            }else{
                alert('删除失败');
            }
        });
    }
</script>